@model Tarea_de_MVC.Models.candidatos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>candidatos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partidos.nombre_partido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partidos.nombre_partido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plataformas.partido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plataformas.partido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
