@model IEnumerable<Tarea_de_MVC.Models.candidatos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partidos.nombre_partido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plataformas.partido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partidos.nombre_partido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plataformas.partido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cedula }) |
            @Html.ActionLink("Details", "Details", new { id=item.cedula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cedula })
        </td>
    </tr>
}

</table>
