@model IEnumerable<Tarea_de_MVC.Models.partidos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.miembros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_partido)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.miembros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_partido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nombre_partido }) |
            @Html.ActionLink("Details", "Details", new { id=item.nombre_partido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nombre_partido })
        </td>
    </tr>
}

</table>
